#
# Copyright (C) 2024-2025 Red Hat, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0

name: pr-check

on: [pull_request]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  lint-format-typecheck:
    name: linter, formatters
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'
      - name: Execute pnpm
        run: pnpm install --frozen-lockfile

      - name: Execute Build
        run: pnpm build

      - name: Run linter
        run: pnpm lint:check

      - name: Run formatter
        run: pnpm format:check

      - name: Run typecheck
        run: pnpm typecheck

      - name: Run svelte check
        run: pnpm svelte:check

  unit-tests:
    name: unit tests / ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 40
    strategy:
      fail-fast: true
      matrix:
        os: [windows-2025, ubuntu-24.04, macos-15]
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Execute pnpm
        run: pnpm install

      - name: Execute Build
        run: pnpm build

      - name: Run unit tests
        run: pnpm test:unit

  # Dedicated step to build the quadlet extension image
  build-container:
    name: Build Extension Image
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Build Image and Extract Files
        id: build-image
        run: |
          podman build -t local_image ./
          CONTAINER_ID=$(podman create localhost/local_image --entrypoint "")
          mkdir -p output/plugins
          podman export $CONTAINER_ID | tar -x -C output/plugins/
          podman rm -f $CONTAINER_ID
          podman rmi -f localhost/local_image:latest
      - name: Upload Quadlet Image Artifact
        uses: actions/upload-artifact@v6
        with:
          name: quadlet-plugin
          path: output/plugins/

  e2e-pr-check:
    name: e2e tests smoke / ${{ matrix.os }} (${{ matrix.mode }})
    runs-on: ${{ matrix.os }}
    needs: build-container
    strategy:
      fail-fast: true
      matrix:
        include:
          - os: windows-2025
            mode: native
          - os: ubuntu-24.04
            mode: native
          # - os: ubuntu-24.04
          #  mode: flatpak

    env:
      SKIP_INSTALLATION: true
      EXTENSION_PREINSTALLED: true
      PODMAN_DESKTOP_ARGS: ${{ github.workspace }}/podman-desktop
      # by default playwright cache browsers binaries in ~/.cache/ms-playwright on Linux and %USERPROFILE%\AppData\Local\ms-playwright on Windows
      PLAYWRIGHT_BROWSERS_PATH: ${{ github.workspace }}/podman-desktop/pw-browsers
    steps:
      - uses: actions/checkout@v6

      # ==============================================
      # Installing Podman
      # ==============================================
      - name: Install Podman
        uses: redhat-actions/podman-install@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          ubuntu-version: '24.04'

      # ==============================================
      # Installing Podman Desktop
      # ==============================================
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      # Install Node.js
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'

      # Install npm packages for quadlet extension
      - name: Execute pnpm in Podman Quadlet Extension
        run: pnpm install

      # Extract @podman-desktop/api version used (and store to $GITHUB_OUTPUT)
      - name: Extract @podman-desktop/api version
        id: pd-api-version
        shell: bash
        run: |
          # Using pnpm list to get the resolved version (E.g. getting 1.15.0 when ^1.15.0)
          export PD_VERSION=$(pnpm list -C packages/backend/ --json | jq -r '.[0].devDependencies."@podman-desktop/api".version')
          echo "PD_VERSION=$PD_VERSION" >> $GITHUB_OUTPUT
          echo "Using @podman-desktop/api $PD_VERSION"

      - name: Install Podman Desktop (native)
        if: matrix.mode == 'native'
        uses: ./.github/actions/install-podman-desktop-native
        with:
          pd-api-version: ${{ steps.pd-api-version.outputs.PD_VERSION }}

      - name: Install Podman Desktop (flatpak)
        if: matrix.mode == 'flatpak'
        uses: ./.github/actions/install-podman-desktop-flatpak

      - name: Run E2E Smoke tests
        shell: bash
        run: pnpm test:e2e:smoke
        env:
          ELECTRON_DISABLE_SANDBOX: '1'
          NODE_OPTIONS: --no-experimental-strip-types

      - uses: actions/upload-artifact@v6
        if: always()
        with:
          name: e2e-pr-check-${{ matrix.os }}
          path: |
            tests/playwright/output/
            tests/playwright/tests/

